<% up   "/load/#{@previous}" %>
<% down "/load/#{@next}" %>
<% a    "/load/slot/#{@current}" %>
<% select "/map" %>
<div>
	<%= @message %>
	<div class="slot <%= 'selected' if @current == 1 %>">
		<%= @slot1 %>
	</div>
	<div class="slot <%= 'selected' if @current == 2 %>">
		<%= @slot2 %>
	</div>
	<div class="slot <%= 'selected' if @current == 3 %>">
		<%= @slot3 %>
	</div>
</div>
<div class="text-center">Press [select] to return</div>
<div class="text-center">Press [a] to load</div>