<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'icon.ico' %>
  <title>MovieMon | Gotta catch'em all</title>
</head>
<body>

  <div id="gameboy">
      <div id="screen">
        <a href="/clear" id="power" ></a>

        <div id="content">
          <%= yield %>
        </div>
        <div>
          <h3>GameBoy</h3>
        </div>
    </div>

    <div id="controls">
      <div>
        <div id="arrows">
          <div class="text-center">
            <%= link_to "", yield(:up) %>
          </div>
          <div class="text-center">
            <%= link_to "", yield(:left) %>
            <span></span>
            <%= link_to "", yield(:right) %>
          </div>
          <div class="text-center">
            <%= link_to "", yield(:down) %>
          </div>
        </div>
        <div id="round-btns">
          <%= link_to "B", yield(:b) %>
          <%= link_to "A", yield(:a) %>
        </div>
      </div>
      <div id="low-controls">
        <%= link_to "Select", yield(:select) %>
        <%= link_to "Start", yield(:start) %>
      </div>
    </div>
  </div>

<!-- < render "layouts/footer"%> -->
</body>
</html>
